# datacenter = "my-dc-1"

data_dir = "/opt/consul"
client_addr = "0.0.0.0"
ui = true
server = true
bootstrap_expect=3

# encrypt = "..."

# secret_access_key=..."]
retry_join = ["provider=triton account=xxx url=https://eu-ro-1.api.spearhead.cloud key_id= key_material=/root/.ssh/id_rsa tag_key=consul-server tag_value=yes"]

#
