server {
  enabled          = true
  bootstrap_expect = 3
}

consul {
  address             = "127.0.0.1:8500"
  server_service_name = "nomad"
  client_service_name = "nomad-client"
  auto_advertise      = true
  server_auto_join    = true
  client_auto_join    = true
}

retry_join = ["provider=triton account=xx url=https://eu-ro-1.api.spearhead.cloud key_id= tag_key=nomad-server tag_value=yes"]